<ion-header>
  <ion-toolbar>
    <ion-title>Libros y Perros/Robots</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let book of bookList">
      <ion-thumbnail slot="start">
        <img [src]="book.image" alt="Image of {{ book.title }}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.title }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="loadBooks()">
    Recargar Lista
  </ion-button>
</ion-content>
